---
import Layout from '../layouts/Layout.astro';
import { NJBackLashArticle, TownHallImageLink, NJArticle, IBMArticle, graphArticle, centerArticle, EESIArticle, waterArticle, MissouriArticle} from '../consts';
import { Image } from 'astro:assets';
import headerImage from '../assets/DataCenterHeader.jpg'
import centerimage from '../assets/ArielDataCenter.jpg'
import graphImage from '../assets/GraphImage.webp'
import townHall from '../assets/TownHall.jpg'
---

<Layout>
  <div class="w-full flex justify-center flex-col items-center">
    <div class="w-full flex flex-col md:flex-row justify-center">

      <div class="w-full text-gray-200 bg-gray-800 flex p-5 justify-center items-center flex-col font-header ">
        <div class="md:border-l-3 md:p-8 p-1 ml-5">
          <h1 class="text-2xl 2xl:text-5xl md:text-4xl text-gray-200">What are AI data centers?<br>And why should you care about them?</h1>
          <p class="text-base">Explaining what AI data centers do and how they can affect you.</p>
          <hr>
          <label class="w-full text-base font-bold">By: Brandon.R, Devin.M, Hector.C and Kristin.G</label>
          <br>
          <p class="text-sm">April 24, 2026</p>
        </div>
      </div>
      <div class="w-full">
        <Image src={headerImage} alt="background"/>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <div class="w-11/12 md:w-1/2 m-10 mt-10 text-lg">
        <h2 class="text-xl md:text-3xl font-header font-extrabold pb-2">What actually is an AI data center?</h2>
        <p class="md:text-xl ">AI data centers are described best by this <a href={IBMArticle} class="underline text-blue-800 font-bold italic" target="_blank" rel="noopener noreferrer">IBM article</a>, “a facility that houses the specific IT infrastructure needed to train, deploy and deliver AI applications and services.”. Large data centers like these have been popping up all around the U.S in mass. The biggest effect these centers have on the average person being the amount of energy they are consuming in order to operate.</p>
        <div class="flex justify-center">
          <Image class="rounded" src={centerimage} alt="centerimage"/>
        </div>
        <p class="wrap-break-word text-xs md:text-sm pt-2 flex flex-wrap justify-center text-center">Microsoft’s AI datacenter in Mt Pleasant, Wisconsin. Sep 18, 2025
        <a class="text-blue-800 ml-1 underline" href={centerArticle} target="_blank" rel="noopener noreferrer"> Scott Guthrie</a>
        </p>
        <p class="md:text-xl">What does this mean for you? Well it means that if you happen to live in close proximity to an AI data center then you're in for some higher energy bills. According to the <a target="_blank" rel="noopener noreferrer" class="text-blue-800 font-bold underline italic" href={NJArticle}>New Jersey state policy lab </a>electricity bills in your area have the potential to reach over $122 dollars or up to 40% more per month compared to 2020 before the big AI boom, but how does an AI center actually cause electricity prices to rise? Well in most city, rural and suburban areas the residence depends on something called the grid, which is responsible for distributing power to various outlets so you can use it at your leisure.</p>
        <p class="md:text-xl">Now if an AI data center is placed in your area then the ridiculous amount of energy needed to keep these centers operational means the demand for energy rises in your area causing the power plants to raise their prices in order to cover the amount of energy the AI data centers use. That in turn falls back on the average person making them pay more for their electricity bill despite not even doing anything to have it rise. Keep the lights off? Turn off your AC and live on as little power you can use? Doesn’t matter, the surging prices will still be felt even if you live fairly inexpensively.This price disparity is shown more clearly in the image bellow.</p>
        <h2 class="text-xl md:text-3xl font-bold font-header">Average rising price of electricity in the U.S.</h2>
        <Image class="my-5 shadow-xl rounded border" src={graphImage} alt="centerimage"/>
        <p class="whitespace-pre pt-2 text-sm flex justify-center"><a href={graphArticle} class="text-blue-800 underline" target="_blank" rel="noopener noreferrer">Alicia Adamczyk</a> (Sep 09, 2025)</p>
        <h2 class="text-xl md:text-3xl font-bold font-header pb-2">How water is being affected</h2>
        <p class="md:text-xl">Having all these servers running at full capacity will require not only lots of energy but also lots of water in order to keep the servers from overheating. More specifically, fresh water is needed to cool them down due to salt water corroding the materials. Despite data centers of all kinds requiring water in order to operate smoothly, fresh water being taken from lakes and natural streams has always been an issue that many have complained about.</p>
        <p class="md:text-xl"> These complaints are only being amplified with the mass construction of AI data centers around the U.S, having to use up to five million gallons of water per day according to <a target="_blank" rel="noopener noreferrer" class="text-blue-800 font-bold underline italic" href={EESIArticle}>Environmental and Energy Study Institute.</a> Which is equivalent to the water use of a town with a population around 50,000 people.This means that smaller communities who have to live near one of these AI data centers will result in people paying more for the scarcity of water same as the energy use, and reduced water quality due to high <a href={waterArticle} class="text-blue-800 font-bold underline italic" target="_blank" rel="noopener noreferrer">evaporation rates leaving behind concentrated chemicals</a> that end up in the areas water system.</p>
        <h2 class="text-xl md:text-3xl font-bold font-header pb-2">What can the average person do about this?</h2>
        <p class="md:text-xl">While all this AI technology is innovative and will most likely become a standard tool in many fields, it comes at the cost of sustainability in local areas. So that begs the question, what can the average person actually do about these data centers? Well first of all, do more research and make sure that you are well informed and up to date on what is going on in your area/town regarding these centers.</p>
        <p class="md:text-xl">Then with your acquired information, make your voice heard. If you know that a center is draining your area of resources and making you pay for it or if there are plans to construct one in your area then express your disapproval. More specifically express your disapproval in something like a town hall meeting.</p>
        <Image class="mt-5 shadow-xl rounded border" src={townHall} alt="centerimage"/>
        <p class="whitespace-pre pt-2 text-sm flex justify-center">A town hall meeting in <a href={TownHallImageLink} class="text-blue-800 underline" target="_blank" rel="noopener noreferrer">West Hartford, Connecticut</a></p>
        <p class="md:text-xl">Let the people in charge know that you and your peers have zero interest in having a center built in your town raising bills and harming the local environment. Speaking out against intruding AI data centers has become a large priority in towns across America. For example the small town of about 14,000 people in <a target="_blank" rel="noopener noreferrer" class="text-blue-800 font-bold underline italic" href={MissouriArticle}>Festus, Missouri </a> an AI center was constructed despite public courage which led to half the city council being driven out from their positions.</p>
        <p class="md:text-xl">In another example, the New Brunswick, <a href={NJBackLashArticle} class="text-blue-800 font-bold underline italic" target="_blank" rel="noopener noreferrer">New Jersey city council</a> was forced to stop a deal for a data center’s construction before it was too late due to public outrage. To sum it up, always stay informed and speak out with your community, power comes in numbers and with enough disapproval real change can be made.</p>
      </div>
    </div>
  </div>
</Layout>
